header{
    text-align: center;
    background-color: lightblue;
    background-size: cover;
    padding: 1px;
}

h1 {
    background-color: lightblue;
    margin: 10px auto;
    padding: 5px auto;
}

h2, p{
    background-color: lightsalmon;
    margin: 0 auto;
    padding: 5px 0;
}

main{
    display: flex;
    justify-content: center;
}

.gameBoard{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    width: 250px;
    height: 250px;
    box-sizing: border-box;
    margin: 50px auto;
    /* makes grid circular */
    border: 3px solid black;
    border-radius: 50%;
    overflow: hidden;
}
/* Color Cells. Add later: Keyboard focusable? */
.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

#red{
    background-color: red; /* #ff6262 */
    grid-row: 1;
    grid-column: 1;
}

#yellow{
    background-color: yellow; /* #fff77a*/
    grid-row: 1;
    grid-column: 2;
}

#blue{
    background-color: royalblue; /* #4592ff*/
    grid-row: 2;
    grid-column: 1;
}

#green{
    background-color: lightgreen; /* #63f4a0*/
    grid-row: 2;
    grid-column: 2;
}
/* Start/ Reset Buttons */
.buttons{
    display: flex;
    justify-content: center;
}
